.idea/
.venv/
venv/
env/
.env

chrome_profile/

__pycache__/
*.py[cod]
*$py.class

*.png
*.jpg
*.jpeg
*.gif
debug_grid.png
schedule_screenshot.png


*.log
*.html
debug_page.html

bot_users.db
bot_database.db